section {
    width: 100vw;
    height: 94vh;
    background-color: rgb(100, 100, 100);
}

iframe {
    position: absolute;
    top: 30vh;
}

#imagem_big {
    width: 30vw;
    height: 30vh;
    position: absolute;
    top: 35vh;
    left: 15vw;
}

#imagem_grande {
    border-radius: 5vw;
    border: rgb(255, 100, 0);
}

.texto {
    position: absolute;
    top: 35vh;
    left: 50vw;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 45vw;
}

#primeiro_nome {
    font-size: 10vh;
    font-weight: 900;
}

#segundo_nome {
    font-size: 8vh;
    font-weight: 600;
}

section p{
    font-size: 5vh;
}

.texto h1 {
    margin: 0;
}

@media(max-width: 480px) {
<<<<<<< HEAD
    #imagem_big {
        width: 60vw;
        height: 25vh;
=======
    #meio_tela{
        width: 60vw;
        height: 70vh;
        background-color: blue;
    }
    #imagem_big {
        width: 47vw;
        height: 20vh;
>>>>>>> f3d895b5dca177a028ee627b71ee6027541e0442
        position: absolute;
        top: 20vh;
        left: 20vw;
    }

    .texto {
<<<<<<< HEAD
        position: absolute;
        top: 35vh;
        left: 2vw;
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 70vw;
    }

    #primeiro_nome {
        position: absolute;
        top: 10vh;
        left: 18vw;
    }

    #segundo_nome {
        position: absolute;
        top: 16vh;
        left: 26vw;
    }

    #paragrafo_um {
        position: absolute;
        top: 20vh;
        left: 24vw;

    }


=======
        top: 40vh;
        left: 25vw;
        width: 60vw;
    }

    #segundo_nome {
        margin: 0 9vw;
    }

>>>>>>> f3d895b5dca177a028ee627b71ee6027541e0442
}