header {
    width: 100vw;
<<<<<<< Updated upstream
    height: 13vh;
    background-color: black;
=======
    height: 10vh;
    background-color: rgb(100, 100, 100);
>>>>>>> Stashed changes

    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#imagem_icone {
    border-radius: 5vw;
    border: none;
}

#hierarquia {
    color: white;
}

header div {
    width: 45vw;
    height: 10vh;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.textos_botoes {
    color: rgb(255, 255, 255);
}

.btn {
    width: 8vw;
    height: 6vh;
    background-color: rgb(255, 100, 0);
    border-radius: 5vw;
    border: none;
}

#imagem_logo {
    width: 10vw;
    height: 10vh;
    margin: 0 2vw;
}

#logo_profissao h3 {
    font-size: 2vw;
}

#botoes {
    justify-content: space-evenly;
}

@media (max-width: 480px) {
    header{
        height: 13vh;
    }
    .textos_botoes {
        display: none;
    }
    #imagem_icone {
        width: 10vw;
        height: 10vh;
        border-radius: 5vw;
        border: none;
    }
}