#telaCadastro {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: -100vw;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

#contadorNome {
    font-size: 1.2vh;
    color: rgb(128, 128, 128);
    pointer-events: none;

    margin-top: -4.75vh;
    margin-right: -12.5vw;

    z-index: 99;
}


.contadorLimite {
    color: rgb(255, 0, 0);
    font-size: 1.2vh;
    pointer-events: none;

    margin-top: -4.75vh;
    margin-right: -12.5vw;

    z-index: 99; 
}

.Putos {
    width: 12.5vw;
    height: 2vh;
    border-radius: 1vw;
    padding: 0 1vw;
    z-index: 2;

    margin-top: -1vw;
}

#inputs_cad {
    width: 17vw;
    height: 25vh;

    position: fixed;
    top: 32.5vh;

    background-color: white;
    border-radius: 2vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 5vh 0;
}

#buttons_telaCad {
    width: 15vw;
    display: flex;
    justify-content: space-evenly;
}

.cadbuts {
    width: 3.6vw;
    border-radius: 1vw;
}

.cadbuts:hover {
    transform: scale(1.1);
    background-color: rgb(242, 186, 87);
}

#recado{
    width: 15vw;
    height: 5vh;
    border-radius: 2vw;
    margin-bottom: -15vh;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}