#telaAtt{
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    right: -100vw;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.inputeCOntador{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 17vw;

    padding-left: 2vw;
    p{
        margin-left: 0.25vw;
    }
}

.contadorLimiteN {
    color: rgb(255, 0, 0);
}

.contadorNormalN {
    color: rgb(128, 128, 128);
}

.contadorLimiteL {
    color: rgb(255, 0, 0);
}

.contadorNormalL {
    color: rgb(128, 128, 128);
}

.PutosAtt{
    width: 12.5vw;
    height: 2vh;
    border-radius: 1vw;
    padding: 0 1vw;
    z-index: 2;

    margin: 0.5vh 0vw;

    border: solid 0.1vw rgb(128, 128, 128);
}

#tituleAtt{
    border: none;
}

#inputs_att{
    width: 27vw;
    height: 30vh;

    position: fixed;
    top: 32.5vh;

    background-color: white;
    border-radius: 2vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 5vh 0;
}

#buttons_telaatt{
    width: 15vw;
    display: flex;
    justify-content: space-evenly;
}

.attbuts{
    width: 5vw;
    height: 4vh;

    margin-top: 3vh;

    border-radius: 3vw;
    border: none;

    background-color: rgb(255, 100, 0);
}

.attbuts:hover{
    transform: scale(1.1);
}