section {
    width: 100vw;
    height: 94vh;
    background-color: rgb(100, 100, 100);
}

iframe {
    position: absolute;
    top: 30vh;
}

#imagem_big {
    width: 30vw;
    height: 30vh;
    position: absolute;
    top: 35vh;
    left: 13vw;
    animation: teste 8s infinite;
}

#imagem_grande {
    border-radius: 5vw;
    border: rgb(255, 100, 0);

}

.texto {
    position: absolute;
    top: 35vh;
    left: 50vw;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 45vw;
}

@keyframes teste {
    0% {
        width: 30vw;
        height: 30vh;
    }

    50% {
        width: 35vw;
        height: 35vh;
    }

    100% {
        width: 30vw;
        height: 30vh;
    }
}

#primeiro_nome {
    font-size: 10vh;
    font-weight: 900;
}

#segundo_nome {
    font-size: 8vh;
    font-weight: 600;
}

section p {
    font-size: 5vh;
}

.texto h1 {
    margin: 0;
}
#carro{
    position: absolute;
    bottom: 4.7vh;
    width: 5vw;
    height: 5vh;
    animation: carro 8s infinite;
}
@keyframes carro{
    0%{
        left: -5vw;
    }
    100%{
        left: 100vw;
    }
}

@media(max-width: 480px) {
    #imagem_big {
        width: 60vw;
        height: 25vh;
        position: absolute;
        top: 20vh;
        left: 25vw;
        animation: none;
    }

    .texto {
        position: absolute;
        top: 35vh;
        left: 1.5vw;
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 85vw;
    }

    #primeiro_nome {
        position: absolute;
        top: 10vh;
        left: 35vw;
        font-size: 8vw;
    }

    #segundo_nome {
        position: absolute;
        top: 14vh;
        left: 38vw;
        font-size: 8vw;
    }

    #paragrafo_um {
        position: absolute;
        top: 18vh;
        left: 25vw;
        font-size: 5vw;
    }


}