section{
    width: 100vw;
    height: 100vh;

    z-index: 9999999999999999999999999999999999999;

    margin: 0vh;

    position: absolute;
    top: 0vh;
    left: 0vh;

    background: linear-gradient(to bottom, rgba(100, 100, 100 ,0.5), rgba(100, 100, 100,0.5));
}