footer {
    width: 100vw;
    /* height: 6vh; */
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;

    /* Estilo dos textos dentro do footer */
    & h3 {
        font-size: 1.4vh;
        color: rgb(255, 255, 255);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    & #email {
        width: 40vw;
        margin: 0 20vw;
        font-size: 1.2vw;
        margin: 1vh 0;
        color: white;

        & #mail {
            color: rgb(0, 150, 200);
        }
    }

    & #ajustes {
        width: 8vw;
        height: 4vh;
        margin: 0 4vw;
    }

    /* Botão de Feedback */
    & #feedback {
        width: 8vw;
        height: 4vh;
        margin: 0 4vw;
        background-color: rgb(255, 100, 0);
        color: rgb(255, 255, 255);
        border-radius: 2vw;
        border: none;
        z-index: 999;
        transition: transform 0.3s ease-in-out; /* Transição simplificada */

        & h1 {
            font-size: 1.5vh;
        }

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}