#header {
    width: 100vw;
    height: 13vh;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &>div {
        width: 45vw;
        height: 13vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

/* Seção do Logo e Título */
#logo_profissao {
    #hierarquia {
        font-size: 4vw;
        color: rgb(255, 200, 150);
    }

    #imagem_logo {
        width: 10vw;
        height: 10vh;
        margin: 0 2vw;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5vw;
            transition: transform 0.5s ease-in-out;
        }

        &:hover img {
            transform: rotate(360deg);
        }
    }
}

#botoes {
    justify-content: space-evenly;
    color: rgb(255, 255, 255);

    .btn {
        width: 8vw;
        height: 6vh;
        background-color: rgb(255, 100, 0);
        color: inherit;
        border-radius: 8vw;
        font-size: 1vw;
        border: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }

        .textos_botoes {
            margin: 0;
        }

        #icones_botoes {
            font-size: 1vw;
            margin: 0vw;
        }
    }
}