header {
    width: 100vw;
    height: 13vh;
    background-color: rgb(0, 0, 0);

    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Divisoes do Cabeçalho */

header div {
    width: 45vw;
    height: 10vh;

    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Logo e "Profissao" */

#logo_profissao h3 {
    font-size: 4vw;
}

/* Imagem mini*/

#imagem_icone {
    border-radius: 5vw;
    border: none;
}

#imagem_logo {
    width: 10vw;
    height: 10vh;
    margin: 0 2vw;
}

/* Imagem mini Hover*/

#imagem_logo:hover img {
    transform: rotate(360deg);
    transition: ease-in-out 0.5s all;

    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

/* Hierarquia */

#hierarquia {
    color: rgb(255, 255, 255);
}


/* Botões */

#botoes {
    justify-content: space-evenly;
    color: rgb(255, 255, 255);
}

.btn {
    width: 8vw;
    height: 6vh;

    background-color: rgb(255, 100, 0);
    color: rgb(255, 255, 255);

    border-radius: 8vw;
    border: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* Botões hover */

.btn:hover {
    transform: scale(1.1);

    cursor: pointer;

    transition: all 0.3s ease-in-out;
}


@media screen and (max-width: 480px) {
    header {
        height: 10vh;
        width: 100vw;
    }

    #imagem_logo {
        width: 0vw;
    }
    .btn {
        width: 8vw ;
        height: 8vw ;
    
        background-color: rgb(255, 100, 0);
        color: rgb(255, 255, 255);
    }

    .textos_botoes{
        font-size: 0vh;
    }
}
