/* Configuração Geral da Seção e Elementos Filhos */
section {
    width: 100vw;
    height: 81vh;
    align-items: center;
    align-content: center;
    z-index: 0;
    position: absolute;
    top: 13vh;

    /* Aninhamento do Canvas que ocupa o mesmo espaço */
    & canvas {
        width: 100vw;
        height: 81vh;
        background-color: rgb(5, 5, 5);
        background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent),
                          radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
        margin: 0;
        z-index: -1;
    }

    /* Bloco de Informações */
    & #infos {
        width: 90vw;
        height: 50vh;
        position: absolute;
        top: 13vh;
        display: flex;
        justify-content: space-evenly;

        /* Estilização da Imagem */
        & #imagem_grande {
            width: 25vw;
            height: 25vh;
            margin-top: 5vh;
            border-radius: 2vw;
            border: solid 0.2vw rgb(100, 100, 100);
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            animation: teste 8s infinite;
        }

        /* Bloco de Texto (Nomes e Descrição) */
        & #infos_nomes {
            width: 40vw;
            height: 35vh;
            display: flex;
            flex-direction: column;
            text-align: center;
            border-radius: 2vw;
            background-color: rgb(230, 230, 230);

            & #nome_sobrenome {
                width: 30vw;
                margin: 0 5vw;
                display: flex;
                text-align: center;

                & h1 {
                    font-size: 7vh;
                    margin: 0 1vw; 
                }
            }

            & p {
                font-size: 4vh;
                color: rgb(55, 20, 15);
            }
        }
    }

    /* Animação do Carro */
    & #carro {
        position: absolute;
        font-size: 2vw;
        bottom: 4.7vh;
        width: 5vw;
        height: 5vh;
        animation: carro 8s infinite;
    }
}

/* Cores específicas dos nomes */
#primeiro_nome { color: rgb(30, 30, 30); }
#segundo_nome { color: rgb(255, 100, 0); }

/* Keyframes (Mantidos fora por padrão de legibilidade) */
@keyframes teste {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.25); }
}

@keyframes carro {
    0% { left: -5vw; }
    100% { left: 100vw; }
}