/* Configuração Geral da Seção */
section {
    width: 100vw;
    height: 81vh;
    margin-top: 13vh;
    z-index: 1;
    font-family: sans-serif;
    /* Corrigido de "none" para um fallback seguro */
    font-size: 0.6vw;

    /* Nesting do Canvas (Fundo) */
    & canvas {
        width: 100vw;
        height: 81vh;
        background-color: rgb(5, 5, 5);
        background-image:
            radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent),
            radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
        margin: 0;
        z-index: -1;
    }
}

/* Componente de Banners */
#banners {
    height: 30vh;
    position: absolute;
    top: 30vh;
    left: 0;
    display: flex;
    transition: left 0.5s ease-in-out;
    z-index: 1;

    & .banner {
        width: 70vw;
        height: 27vh;
        margin: 2.5vh 15vw;
        border-radius: 2vw;
        display: flex;
        justify-content: space-evenly;
        z-index: 2;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.01);
        }

        & .caixa_texto {
            width: 20vw;
            height: 22vh;
            border-radius: 2vw;
            border: solid 0.2vw black;
            margin: 2.5vh 2.5vw;
            padding: 0 0.5vw;
            background-color: rgba(255, 255, 255, 0.5);
            display: flex;
            flex-direction: column;
            font-size: 1vh;
            justify-content: space-evenly;
        }

        & .caixa_foto {
            width: 30vw;
            height: 22vh;
            border-radius: 1vw;
            border: solid 0.2vw black;
            margin: 1.5vh 2.5vw;
            padding: 0 0.5vw;
            background-color: rgba(255, 255, 255, 0.5);
            display: flex;
            justify-content: center;

            & .imagem {
                width: 29vw;
                height: 19vh;
                margin: 1.5vh 0.5vw;
                border-radius: 1vw;
                border: solid 0.2vw black;
            }
        }
    }
}

/* Controles dos Banners */
#btn_banners {
    width: 20vw;
    height: 20vh;
    position: absolute;
    top: 60vh;
    left: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    & .btn_banner,
    & #adicionar {
        width: 5vh;
        height: 5vh;
        font-size: 1vw;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        transition: transform 0.3s ease, background-color 0.3s ease;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;

            /* Animando o ícone dentro do botão adicionar no hover */
            & i {
                transform: rotate(180deg);
                transition: transform 0.5s ease-in-out;
            }
        }
    }
}

/* Modal de Adição (Tela de Add) */
#tel_Add {
    width: 100vw;
    height: 81vh;
    margin-top: 13vh;
    background-color: rgba(200, 200, 200, 0.4);
    position: absolute;
    left: -100vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    & #box_Add {
        width: 40vw;
        height: 50vh;
        font-size: 1vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 3vh;
        background-color: rgb(255, 255, 255);
        border-radius: 2vw;

        & .escreva {
            width: 30vw;
            height: 3vh;
            font-size: 1vw;
            margin: 0.5vh 0vw 1vh;
            padding-left: 1vw;
            border-radius: 1vw;
            border: solid 0.1vh RGB(100, 100, 100);
            transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.01);
                cursor: pointer;
            }
        }

        & #btn_Add {
            width: 40vw;
            height: 10vh;
            font-size: 1vw;
            display: flex;
            justify-content: space-evenly;

            & .add_Btn {
                width: 7vw;
                height: 4vh;
                border-radius: 3vw;
                font-size: 1vw;
                border: none;
                background-color: rgb(255, 100, 0);
                transition: transform 0.2s ease;

                &:hover {
                    transform: scale(1.05);
                    cursor: pointer;
                }
            }
        }
    }
}

#avisoAdd{
    width: 35vw;
    font-size: 1vw;
}