section {
    width: 100vw;
    height: 81vh;

    margin-top: 13vh;

    background-color: rgb(100, 100, 100);

    z-index: 1;

    font-family: "none";
    font-size: 0.6vw;
}

/* Estetica dos banners */

#banners {
    height: 30vh;

    /* background-color: brown; */

    position: absolute;
    top: 30vh;
    left: 0;

    display: flex;

    z-index: 1;
}

.banner {
    width: 70vw;
    height: 25vh;
    margin: 2.5vh 15vw;

    border-radius: 2vw;

    display: flex;
    justify-content: space-evenly;

    z-index: 2;

    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.banner:hover{
    transform: scale(1.01);
}

/* caixa de texto */

.caixa_texto {
    width: 20vw;
    height: 20vh;

    border-radius: 2vw;
    border: solid 0.2vw black;

    margin: 2.5vh 2.5vw;
    padding: 0 0.5vw;

    background-color: rgba(255, 255, 255, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* caixa de foto */

.caixa_foto {
    width: 30vw;
    height: 22vh;

    border-radius: 1vw;
    border: solid 0.2vw black;

    margin: 1.5vh 2.5vw;
    padding: 0 0.5vw;

    background-color: rgba(255, 255, 255, 0.5);

    display: flex;
    justify-content: center;
}

.imagem {
    width: 29vw;
    height: 19vh;

    margin: 1.5vh 0.5vw;

    border-radius: 1vw;
    border: solid 0.2vw black;
}

/* botoes para trocar banner */

#btn_banners {
    width: 20vw;
    height: 20vh;

    position: absolute;
    top: 60vh;
    left: 40vw;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn_banner {
    width: 5vh;
    height: 5vh;

    border-radius: 50%;

    background-color: rgb(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: center;
}

/* botoes hover */

.btn_banner:hover {
    transform: scale(1.1);

    cursor: pointer;
}

/* adicionar */

#adicionar {
    width: 5vh;
    height: 5vh;

    border-radius: 50%;

    background-color: rgb(255, 255, 255);
}

/* adicionar hover */

#adicionar:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: ease-in-out 0.5s all;
}

#adicionar:hover i {
    transform: rotate(180deg);

    transition: ease-in-out 0.5s all;
}

/* Tela de Add banner */

#tel_Add {
    width: 100vw;
    height: 81vh;

    margin-top: 13vh;

    background-color: rgba(200, 200, 200, 0.4);

    position: absolute;
    left: -100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2;
}

/* box dos inputs */

#box_Add {
    width: 40vw;
    height: 40vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    padding-top: 3vh;

    background-color: rgb(255, 255, 255);

    border-radius: 2vw;
}

.escreva {
    width: 30vw;
    height: 3vh;

    margin: 0.5vh 0vw 1vh;

    padding-left: 1vw;

    border-radius: 1vw;
    border: solid 0.1vh RGB(100, 100, 100);
}

.escreva:hover {
    transform: scale(1.01);

    cursor: pointer;
}

#btn_Add {
    width: 40vw;
    height: 10vh;

    display: flex;
    justify-content: space-evenly;
}

.add_Btn {
    width: 5vw;
    height: 4vh;

    border-radius: 3vw;
    border: none;

    background-color: rgb(255, 100, 0);
}

.add_Btn:hover {
    transform: scale(1.05);

    cursor: pointer;
}
