/* Seletores Globais e Elementos de Bloco */
section {
    width: 100vw;
    height: 81vh;
    margin-top: 13vh;
    padding-top: 1vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 2;

    /* Nesting: Ícones dentro da Section */
    & i {
        margin-top: -0.5vw;
        margin-bottom: 0.5vw;
    }

    /* Nesting: Canvas dentro da Section (se aplicável) */
    & canvas {
        width: 100vw;
        height: 82vh;
        background-color: rgb(5, 5, 5);
        background-image:
            radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent),
            radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
        margin: -1vh 0vw;
        z-index: 1;
    }
}

/* Identificadores de Layout */
#textozinho {
    width: 35vw;
    height: 3vh;
    padding-left: 2.5vw;
    border-radius: 1vw;
    background-color: white;
    margin: 10vh 30vw;
}

#cardsCtt {
    width: 80vw;
    position: absolute;
    top: 30vh;
    left: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 2;

    & .contatinhos {
        width: 13vw;
        height: 35vh;
        border-radius: 1vw;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1vw;
        box-shadow: -1vw 1vw 0px 0px rgba(0, 0, 0, 0.75);

        & .btnCtt {
            width: 7vw;
            height: 3vh;
            background-color: orange;
            border-radius: 1vh;
            border: none;
            cursor: pointer;
            font-size: 1vw;

        }
    }
}